#root{

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  max-width: 1280px;
  text-align: center;
  margin: 0 auto;

}

body {
  color: #F4FFF8;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #3685B5;
}

.App{
  padding: 30px;
  background-color: rgb(0, 0, 0,0.13);
  border: #1a1a1abf solid 4px;
  border-radius: 20px;
}

#title{
  color: #F4FFF8;
  font-size: 3.2em;
  line-height: 1.1;
  padding: 5px;
}

#search-field{
  background-color: #89AAE6 ;
  color: #F4FFF8;
  border: #F4FFF8 solid 2px;
  border-radius: 7px;
  
}

#search-btn {
  color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.75em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F4FFF8;
  border: #1a1a1a solid 1px;
  cursor: pointer;
  transition: all 0.3s;
}
#search-btn:hover {
  background-color: #89AAE6;
  border-color: #646cff;
}


