@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
/*  colour palette: 
      1. 03045E
      2. 0077B6
      3. 00B4D8
      4. 90E0EF
      5. CAF0F8
*/
#root{
  font-family: Alan Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  max-width: 1280px;
  text-align: center;
  margin: 0 auto;

}

body {
  color: #F4FFF8;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0077B6;
}

.App{
  padding: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: #F4FFF8 solid 4px;
  border-radius: 20px;
  min-height: fit-content;
  min-width: 500px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: all 0.6s;
}
.App::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-image: linear-gradient(to bottom right, #CAF0F8, #90E0EF);
  z-index: -10;
}
.App:hover{
  box-shadow: 0px 0 50px #CAF0F8;
}

#title{
  color: #F4FFF8;
  font-size: 3.2em;
  line-height: 1.1;
  padding: 5px;
}

#search{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

#search-field{
  background-color: #90E0EF;
  color: #F4FFF8;
  border: #F4FFF8 solid 2px;
  border-radius: 7px;
  padding: 5px;
  padding-left: 10px;
  outline: none;
  text-decoration: none;
  width: 250px;
  font-size: 0.9em;
  transition: all 0.4s;
}
#search-field:hover{
  scale: calc(1.05);
}

#search-btn {
  color: #CAF0F8;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.75em;
  font-weight: 500;
  width: 100px;
  min-width: 75px;
  font-family: inherit;
  background-color: #09869f;
  border: #F4FFF8 solid 1px;
  cursor: pointer;
  transition: all 0.3s;
}

#search-btn:hover {
  background-color: #0077B6;
  border-color: #0077B6;
  scale: calc(1.05);
}

p{
  border: #F4FFF8 solid 2px;
  border-radius: 15px;
  padding: 10px 30px;
  background-image: linear-gradient(to bottom right, #90E0EF 20%, #0077B6);
  transition: all 0.5s;
}
p:hover{
  background-color: #0077B6;
  border-color: #0077B6;
  scale: calc(1.05);
  box-shadow: 2px 0 50px #0076b652;

}



